@page
@model TeacherDirectory.Pages.Teachers.IndexModel
@{
    ViewData["Title"] = "index";
}

<style>
    .btn {
        width: 75px;
    }
</style>

<h1>Teachers</h1>

<div class="card-deck">
    @foreach(var teacher in Model.Teachers)
    {
        var photopath = "~/images/" + (teacher.Photopath ?? "Default.jpg");

        <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
            <div class="card-header">
                <h3>@teacher.FName</h3>
            </div>

            <img class="card-img-top imageThumbnail src=@photopath" asp-append-version="true"/>

            <div class="card-footer text-black-50 center">
                <a asp-page="/Teachers/Detail"
                   asp-route-ID="@teacher.ID" class="btn btn-primary m-1">View</a>
                <a href="#" class="btn btn-primary m-1">Edit</a>
                <a href="#" class="btn btn-danger m-1">Delete</a>
            </div>
        </div>
    }
</div>