@page
@model TeacherDirectory.Pages.Teachers.IndexModel
@{
    ViewData["Title"] = "index";
    ViewData["Showbuttions"] = true;
}

<style>
    .btn {
        width: 75px;
    }
</style>

<form method="get">
    <div class="input-group">
        <input class="form-control" asp-for="SearchTerm"/>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<vc:head-count department-name="@null"></vc:head-count>

<h1>Teachers</h1>

<div class="card-deck">
    @foreach (var teacher in Model.Teachers)
    {
        <partial name="_DisplayTeacherPartial" model="teacher" view-data="ViewData" />
    }
</div>