@page
@model ErrorModel
@{
}

<h1 class="text-danger">Error 404</h1>
<strong class="font-weight-bold">An error occurred while processing your request. The page you are looking for either does not exist or is under maintenance.</strong>
<p>

</p>
<a href="/index">back to home page</a>