@model  IEnumerable<DeptHeadCount>

<h3>Teacher Head Count Summary</h3>

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>Department</th>
            <th>Head Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var deptHeadtCount in Model)
        {
            <tr>
                <td>
                    @deptHeadtCount.Department
                </td>
                <td>
                    @deptHeadtCount.count
                </td>
            </tr>
        }
    </tbody>
</table>